<h1>
  {{ currentPatients.id ? "Editar" : "agregar" }}
  Heroe
  <small *ngIf="currentPatients.id"
    >{{ currentPatients.firstName }}{{ currentPatients.lastName }}</small>
</h1>

<mat-divider></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <div class="col-12 sm:col-6">
      <img [src]="currentPatients" alt="foto del paciente" mat-card-image />
    </div>
    <form class="grid" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
      <div fxFlex="70%">
        <mat-form-field class="col-12 sm:col-6">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" required formControlName="firstName" />
        </mat-form-field>

        <mat-form-field class="col-12 sm:col-6">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName" required />
        </mat-form-field>
        <p>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Género</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Masculino</mat-option>
              <mat-option value="female">Femenino</mat-option>
              <mat-option value="other">Otro</mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthDate">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nacionalidad</mat-label>
            <input matInput formControlName="nationality" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phoneNumber" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Información Médica</mat-label>
            <textarea matInput formControlName="medicalInfo"></textarea>
          </mat-form-field>
        </p>
      </div>
    </form>
    <div class="flex justify-content-between">
        <span></span>
        <button
            mat-flat-button
            color="primary"
            (click)="onSubmit()"
            >
            <mat-icon>save</mat-icon>
            Guardar
        </button>
    </div>
  </div>
</div>
