<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title><h1>list of rooms</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table mat-table [dataSource]="rooms" class="mat-elevation-z8" *ngIf="hayRegistros(); else noRows">

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef> Number </th>
          <td mat-cell *matCellDef="let room"> {{ room.number }} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let room"> {{ room.category.name }} </td>
        </ng-container>

        <ng-container matColumnDef="quota">
          <th mat-header-cell *matHeaderCellDef> Quota </th>
          <td mat-cell *matCellDef="let room"> {{ room.quota }} </td>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Cost </th>
          <td mat-cell *matCellDef="let room"> {{ room.cost }} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let room"> {{ room.details }} </td>
        </ng-container>

        <ng-container matColumnDef="vacant">
          <th mat-header-cell *matHeaderCellDef> Vacant </th>
          <td mat-cell *matCellDef="let room"> {{ room.vacant }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let patient">

            <button mat-raised-button color="warn">Borrar</button>

            <span class="spacer"></span>

            <button mat-raised-button color="accent" >Editar</button>
          </td>
        </ng-container>

        <!-- Fila de encabezado y filas de datos -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <ng-template #noRows>
        <p>There are no rooms.</p>
      </ng-template>
    </mat-card-content>

    <mat-card-footer class="card-footer">
      <div class="button-group">
        <button mat-raised-button color="success" [routerLink]="['/rooms/add']">Add Room</button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
