<div class="container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title><h1>Lista de pacientes</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <table mat-table [dataSource]="patients" class="mat-elevation-z8" *ngIf="patients.length > 0; else sinPacientes">

        <!-- Columna Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="th-tittle"> nombre </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.firstName }} {{ patient.lastName }} </td>
        </ng-container>

        <!-- Columna Teléfono -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef class="th-tittle"> telefono </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.phoneNumber }} </td>
        </ng-container>

        <!-- Columna Correo -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="th-tittle"> email </th>
          <td mat-cell *matCellDef="let patient"> {{ patient.email }} </td>
        </ng-container>

        <!-- Acciones (Editar y Borrar) -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="th-tittle"> acciones </th>
          <td mat-cell *matCellDef="let patient">
            <button mat-raised-button color="warn" (click)="deletePatient(patient)">Borrar</button>
            <span class="spacer"></span>
            <button mat-raised-button class="button-warn" [routerLink]="['/patient/edit',patient.id]">Editar</button>
          </td>
        </ng-container>
        

        <!-- Fila de encabezado y filas de datos -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <ng-template #sinPacientes>
        <p>No hay pacientes.</p>
      </ng-template>
    </mat-card-content>
    <mat-card-footer class="card-footer">
      <div class="button-group">
        <button mat-raised-button color="success"  [routerLink]="['/patient/add']">Agregar</button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
